<button type="menu" tabindex="1" id="btn-search" (click)="toggle()" class="inline-flex border-0 items-center justify-center text-gray-500 w-10 h-10 rounded disabled:text-gray-700
  disabled:bg-transparent hover:text-primary dark:hover:text-accent hover:bg-transparent">
  <!-- <input type="search" class="w-80"> -->
  <i title="search" class="text-2xl fal fa-search"></i>
</button>

<div id="search-container" class="flex items-center justify-center z-10 absolute top-10 bottom-0 left-0 right-0 bg-white px-4 space-x-4 mb-1 lg:px-8
  dark:bg-gray-950 mx-auto max-w-7xl" *ngIf="active">
  <div class="flex relative h-10 w-full border rounded-full bg-white dark:bg-gray-950" id="search-field-container"
    [ngClass]="{ 'border-primary': filtersShown }">
    <input class="w-full bg-transparent px-6 outline-none" spellcheck="false" type="search" name="search"
      id="search_field" autocapitalize="off" autocomplete="off" autocorrect="off" autosave="brabopakSearch"
      aria-label="Zoeken naar producten" [(ngModel)]="query" role="search" (keydown)="doKeyDown($event)"
      (keyup)="doKeyUp($event)" (focusin)="showFilters()" (focusout)="hideFilters()">
    <div
      class="absolute left-3 right-3 top-[2.3rem] backdrop-blur drop-shadow-lg border border-t-primary dark:border-t-primary bg-[#ffffffcc] dark:bg-[#1118278f] rounded-b-xl dark:shadow-none"
      id="filters" *ngIf="filtersShown">
      <ng-template [ngIf]="suggested.length > 0">
        <div class="font-bold text-xl pt-6 mx-6 mb-4">Suggesties</div>
        <ul class="px-8 space-y-2 mb-4">
          <li class="cursor-pointer hover:text-primary dark:hover:text-primary hover:underline"
            *ngFor="let suggestion of suggested" (mousedown)="searchQuery(suggestion)">
            {{ suggestion }}
          </li>
        </ul>
      </ng-template>
      <ng-template [ngIf]="popular.length > 0">
        <div class="font-bold text-xl pt-6 mx-6 mb-4">Populaire zoekopdrachten</div>
        <ul class="px-8 space-y-2 mb-4">
          <li class="cursor-pointer hover:text-primary dark:hover:text-primary hover:underline"
            *ngFor="let term of popular" (mousedown)="searchQuery(term)" [innerHtml]="term"></li>
        </ul>
      </ng-template>
      <div class="font-bold text-xl pt-6 mx-6 mb-4">Filters</div>
      <ul class="px-8 space-y-2 mb-4">
        <li class="space-x-2 group" (mousedown)="change('only_favorites')" *ngIf="authorized"
          (click)="$event.preventDefault()">
          <input type="checkbox" name="only_favorites" id="only_favorites" [(ngModel)]="service.only_favorites">
          <label for="only_favorites" class="group-hover:underline group-hover:text-primary"
            translate="components.filters.favorite"></label>
        </li>
        <li class="space-x-2 group" (mousedown)="change('only_promo')" *ngIf="authorized"
          (click)="$event.preventDefault()">
          <input type="checkbox" name="only_promo" id="only_promo" [(ngModel)]="service.only_promo">
          <label for="only_promo" class="group-hover:underline group-hover:text-primary"
            translate="components.filters.promo"></label>
        </li>
        <li class="space-x-2 group" (mousedown)="change('only_new')" (click)="$event.preventDefault()">
          <input type="checkbox" name="only_new" id="only_new" [(ngModel)]="service.only_new">
          <label for="only_new" class="group-hover:underline group-hover:text-primary"
            translate="components.filters.new"></label>
        </li>
      </ul>
    </div>
  </div>
  <button class="h-10 px-6 border rounded-full cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-950" tabindex="1"
    id="btn-search-close" (click)="close()">
    {{ 'actions.close' | translate }}
  </button>
</div>
