<!-- <ng-container [ngSwitch]="layout">
  <claes-empty-layout *ngSwitchCase="'empty'"></claes-empty-layout>
  <claes-centered-layout *ngSwitchCase="'centered'"></claes-centered-layout>
  <claes-enterprise-layout *ngSwitchCase="'enterprise'"></claes-enterprise-layout>
  <claes-material-layout *ngSwitchCase="'material'"></claes-material-layout>
  <claes-modern-layout *ngSwitchCase="'modern'"></claes-modern-layout>
  <claes-ecommerce-layout *ngSwitchCase="'ecommerce'"></claes-ecommerce-layout>
  <claes-classic-layout *ngSwitchCase="'classic'"></claes-classic-layout>
  <claes-classy-layout *ngSwitchCase="'classy'"></claes-classy-layout>
  <claes-compact-layout *ngSwitchCase="'compact'"></claes-compact-layout>
  <claes-dense-layout *ngSwitchCase="'dense'"></claes-dense-layout>
  <claes-futuristic-layout *ngSwitchCase="'futuristic'"></claes-futuristic-layout>
  <claes-thin-layout *ngSwitchCase="'thin'"></claes-thin-layout>
</ng-container>
<claes-settings *ngIf="!forcedLayout"></claes-settings> -->

<claes-ecommerce-layout></claes-ecommerce-layout>
<bra-modals-container></bra-modals-container>