<div class="flex flex-col w-full max-w-screen-xl mx-auto gap-12 p-4 sm:p-6 lg:p-8">
  <div class="md:w-2/3 mx-auto space-y-12">
    <div class="space-y-4">
      <h1 class="text-4xl md:text-6xl italic font-bold tracking-tight leading-8">
        Privacyverklaring <small class="text-lg">(versie april 2023)</small>
      </h1>

      <p>
        Welkom op de website van Brabopak. Hieronder vind je ons privacybeleid om je op de hoogte te brengen van de soort gegevens die we over jou verzamelen en hoe we ze gebruiken. Deze privacyverklaring kan worden bijgewerkt. Controleer dus regelmatig of er wijzigingen zijn aangebracht. Door gebruik te maken van deze website, geef je aan in te stemmen met deze privacyverklaring en ons gebruik van cookies zoals hieronder is uiteengezet. Gebruik deze website niet als je niet instemt met deze voorwaarden.
      </p>
    </div>

    <div class="space-y-4">
      <h3 class="text-xl md:text-3xl italic leading-6">Intellectuele eigendomsrechten</h3>
      <p>
        De inhoud van deze site, met inbegrip van de merken, logo's, tekeningen, data, product- of bedrijfsnamen, teksten, beelden, e.d. zijn beschermd door intellectuele rechten en behoren toe aan Brabopak of rechthoudende derden.
      </p>
    </div>

    <div class="space-y-4">
      <h3 class="text-xl md:text-3xl italic leading-6">Beperking van aansprakelijkheid</h3>
      <p>
        De informatie op de website is van algemene aard. De informatie is niet aangepast aan persoonlijke of specifieke omstandigheden, en kan dus niet als een persoonlijk, professioneel of juridisch advies aan de gebruiker worden beschouwd.
      </p>
      <p>
        Brabopak levert grote inspanningen opdat de ter beschikking gestelde informatie volledig, juist, nauwkeurig en bijgewerkt zou zijn. Ondanks deze inspanningen kunnen onjuistheden zich voordoen in de ter beschikking gestelde informatie. Indien de verstrekte informatie onjuistheden zou bevatten of indien bepaalde informatie op of via de site onbeschikbaar zou zijn, zal Brabopak de grootst mogelijke inspanning leveren om dit zo snel mogelijk recht te zetten.
      </p>
      <p>
        Brabopak kan evenwel niet aansprakelijk worden gesteld voor rechtstreekse of onrechtstreekse schade die ontstaat uit het gebruik van de informatie op deze site. Als je onjuistheden zou vaststellen in de informatie die via de site ter beschikking wordt gesteld, kan je de beheerder van de site contacteren.
      </p>
      <p>
        De inhoud van de site (links inbegrepen) kan te allen tijde zonder aankondiging of kennisgeving aangepast, gewijzigd of aangevuld worden. Brabopak geeft geen garanties voor de goede werking van de website en kan op geen enkele wijze aansprakelijk gehouden worden voor een slechte werking of tijdelijke (on)beschikbaarheid van de website of voor enige vorm van schade, rechtstreekse of onrechtstreekse, die zou voortvloeien uit de toegang tot of het gebruik van de website.
      </p>
      <p>
        Brabopak kan in geen geval tegenover wie dan ook, op directe of indirecte, bijzondere of andere wijze aansprakelijk worden gesteld voor schade te wijten aan het gebruik van deze site of van een andere, inzonderheid als gevolg van links of hyperlinks, met inbegrip, zonder beperking, van alle verliezen, werkonderbrekingen, beschadiging van programma's of andere gegevens op het computersysteem, van apparatuur, programmatuur of andere van de gebruiker.
      </p>
      <p>
        De website kan hyperlinks bevatten naar websites of pagina's van derden, of daar onrechtstreeks naar verwijzen. Het plaatsen van links naar deze websites of pagina's impliceert op geen enkele wijze een impliciete goedkeuring van de inhoud ervan.
      </p>
      <p>
        Brabopak verklaart uitdrukkelijk geen zeggenschap te hebben over de inhoud of over andere kenmerken van deze websites en kan in geen geval aansprakelijk gehouden worden voor de inhoud of de kenmerken ervan of voor enige andere vorm van schade door het gebruik ervan.
      </p>
    </div>

    <div class="space-y-4">
      <h3 class="text-xl md:text-3xl italic leading-6">Toepasselijk recht</h3>
      <p>
        Op deze website en de disclaimer is het Belgisch recht van toepassing. Alle geschillen uit hoofde van of in verband met deze disclaimer zullen bij uitsluiting worden voorgelegd aan de bevoegde rechter.
      </p>
    </div>

    <div class="space-y-4">
      <h3 class="text-xl md:text-3xl italic leading-6">Gegevensverzameling</h3>
      <p>
        Voor de verwerking van persoonsgegevens in het kader van de activiteiten zoals vermeld in deze verklaring ziet Brabopak zichzelf als verwerkingsverantwoordelijke in de zin van de Algemene Verordening Gegevensbescherming.
      </p>
      <p>
        Brabopak wenst te benadrukken dat de betrokkene nooit de verplichting heeft om de opgevraagde gegevens te verstrekken aan Brabopak, maar het gebrek eraan kan tot gevolg hebben dat de aanvraag niet correct wordt geregistreerd.
      </p>
      <p>
        Wanneer Brabopak voornemens zou hebben om je persoonsgegevens verder te verwerken voor een ander doel dan dat waarvoor de persoonsgegevens zijn verzameld, verstrekt Brabopak je voor die verdere verwerking informatie over dat andere doel.
      </p>
      <p>
        Brabopak verzamelt en verwerkt de gegevens van de betrokkene (vereist én optioneel) rechtstreeks of d.m.v. formulieren via de website van Brabopak. Brabopak verzamelt en verwerkt ook gegevens door middel van persoonlijke contacten, telefoongesprekken en/of e-mail. Enkele voorbeelden van contactgegevens van de betrokkene zijn: naam, adres, gsm- of telefoonnummer en e-mailadres.
      </p>
      <p>
        We verzamelen ook gegevens over de browser van je computer, waaronder het IP-adres en de locatie van een persoon, browsertype, besturingssysteem en de internetpagina’s die je bezoekt. Hiermee kunnen we relevante content en services voor dat apparaat weergeven en vormgeven.
      </p>
      <p>
        Brabopak verzamelt en verwerkt geen gevoelige informatie over de betrokken contactpersoon, bijvoorbeeld gegevens die ras of etnische achtergrond, politieke, godsdienstige of filosofische overtuiging, eventueel lidmaatschap van een vakbond, gezondheid of seksleven onthullen. Indien wegens bepaalde omstandigheden gevoelige informatie over een betrokken contactpersoon wordt verzameld, vraagt Brabopak hiervoor uitdrukkelijke, schriftelijke toestemming van de betrokkene.
      </p>
    </div>

    <div class="space-y-4">
      <h3 class="text-xl md:text-3xl italic leading-6">Beveiliging en vertrouwelijkheid</h3>
      <p>
        Brabopak onderneemt alle nodige stappen om de beveiliging van de persoonsgegevens te waarborgen. Om ervoor te zorgen dat de gegevens worden beschermd tegen onder meer ongeoorloofde toegang, onrechtmatig gebruik, verlies of ongeoorloofde wijzigingen, maakt Brabopak gebruik van verschillende beveiligingstechnieken en -procedures.
      </p>
      <p>
        Zowel op fysiek, elektronisch als organisatorisch vlak werden de nodige maatregelen getroffen om de veiligheid en vertrouwelijkheid van je persoonsgegevens te waarborgen. Brabopak blijft haar beveiligingsprocedures uitbreiden naarmate nieuwe technologieën beschikbaar worden. Zo worden bijvoorbeeld de verstrekte persoonsgegevens opgeslagen op servers die enkel voor bevoegd personeel toegankelijk zijn. Dit personeel werd op de hoogte gebracht van deze privacyverklaring en van alle toepasselijke interne richtlijnen die werden uitgevaardigd voor de bescherming van persoonsgegevens. Zij zijn verplicht de vertrouwelijkheid van de persoonsgegevens van de betrokkene te respecteren.
      </p>
      <p>
        Conform de van toepassing zijnde wettelijke vereisten zorgt Brabopak voor adequate beveiligingsmaatregelen ter bescherming van de handmatige en elektronische verwerking van de gegevens van de betrokken contactpersoon en ter voorkoming van eventueel misbruik ervan.
      </p>
    </div>

    <div class="space-y-4">
      <h3 class="text-xl md:text-3xl italic leading-6">Gegevensopslag</h3>
      <p>
        Brabopak bewaart persoonsgegevens niet langer dan strikt nodig is voor de uitvoering van een overeenkomst en/of handelsrelatie, waarvoor de persoonsgegevens worden verzameld. De persoonsgegevens worden niet langer dan een jaar bewaard indien er geen overeenkomst of handelsrelatie met het betrokken bedrijf tot stand komt.
      </p>
    </div>

    <div class="space-y-4">
      <h3 class="text-xl md:text-3xl italic leading-6">Finaliteit en wettelijke basis</h3>
      <p>
        Persoonsgegevens die door de betrokken contactpersoon aan Brabopak worden doorgegeven, worden uitsluitend door Brabopak gebruikt om een nieuwe handelsrelatie mogelijk te maken en dagelijks handel te drijven met de betrokken onderneming. Meer bepaald gaat het over de volgende activiteiten:
      </p>
      <div>
        <ul>
          <li>orders ontvangen</li>
          <li>leveringen</li>
          <li>facturatie</li>
          <li>contact in geval van vragen, opmerkingen, problemen, klachten, enz.</li>
          <li>mailings en nieuwsbrieven</li>
        </ul>
      </div>
      <p>
        De werking van deze gegevens is noodzakelijk voor de uitvoering van een overeenkomst waarbij de betrokkene partij is, of om op verzoek van de betrokkene vóór de sluiting van een overeenkomst maatregelen te nemen (het uitvoeren van bestaande en nieuwe handelsactiviteiten en het aangaan van nieuwe handelsrelaties).
      </p>
    </div>

    <div class="space-y-4">
      <h3 class="text-xl md:text-3xl italic leading-6">Proportionaliteit</h3>
      <p>
        De gegevens van de betrokkene die door Brabopak worden verzameld en verwerkt zijn adequaat, relevant en niet overbodig voor de specifieke doeleinden waarvoor ze worden verzameld en verwerkt. De gegevens van de betrokkene zijn zo nauwkeurig mogelijk en worden zo nodig bijgewerkt conform de van toepassing zijnde wetten.
      </p>
    </div>

    <div class="space-y-4">
      <h3 class="text-xl md:text-3xl italic leading-6">Rechten en verzoeken van de betrokkene</h3>
      <p>
        De betrokkene heeft het recht om Brabopak te verzoeken zijn of haar gegevens te corrigeren. Onder 'corrigeren' wordt o.a. verstaan: het aanvullen, wissen, blokkeren of op andere wijze zorgen dat de gegevens van de betrokkene niet meer worden gebruikt. Brabopak is alleen verplicht de gegevens van de betrokkene te corrigeren wanneer deze feitelijk onnauwkeurig, onvolledig of irrelevant zijn voor de doeleinden waarvoor Brabopak de gegevens gebruikt. Brabopak verstrekt de betrokkene onverwijld en in ieder geval binnen een maand na ontvangst van het verzoek informatie over het gevolg dat aan het verzoek is gegeven. Afhankelijk van de complexiteit van het verzoek en het aantal verzoeken van de betrokkene kan die termijn met nog eens twee maanden worden verlengd. Brabopak stelt de betrokkene binnen één maand na ontvangst van het verzoek in kennis van een dergelijke verlenging.
      </p>
      <p>
        De betrokkene heeft te allen tijde het recht om vanwege met zijn specifieke situatie verband houdende redenen bezwaar te maken tegen de verwerking van hem betreffende persoonsgegevens. Brabopak staakt de verwerking van de persoonsgegevens tenzij er dwingende gerechtvaardigde gronden voor de verwerking kunnen worden aangevoerd die zwaarder wegen dan de belangen, rechten en vrijheden van de betrokkene of die verband houden met de instelling, uitoefening of onderbouwing van een rechtsvordering.
      </p>
    </div>

    <div class="space-y-4">
      <h3 class="text-xl md:text-3xl italic leading-6">Gegevensdeling</h3>
      <p>
        Brabopak kan bepaalde gegevens van de betrokkene onthullen aan een leverancier of contractorganisatie die diensten aan Brabopak levert, indien bij de uitvoering van deze diensten gegevens van de betrokkene moeten worden gebruikt en/of gecreëerd voor de doeleinden die in deze privacyverklaring worden beschreven. De van toepassing zijnde wetten worden hierbij telkens nageleefd. In deze beperkte gevallen kunnen geselecteerde derde partijen toegang krijgen tot de gegevens van de betrokkene. Brabopak draagt er zorg voor dat strenge beveiligingsnormen worden opgelegd aan deze derde partijen. Bij een eventuele fusie en/of overname kan Brabopak informatie over de betrokken personen onthullen aan de derde partij die bij de betreffende fusie en/of overname betrokken is, doch slechts aan bevoegd personeel.
      </p>
      <p>
        Brabopak verkoopt en verhandelt geen gegevens van de betrokkene aan enige derde partij. Brabopak kan krachtens van toepassing zijnde wetten worden verplicht om bepaalde gegevens te onthullen aan derden, bijvoorbeeld regeringsautoriteiten. Ook kan het nodig zijn dat Brabopak krachtens van toepassing zijnde wetten gegevens van contactpersonen onthult om haar wettelijke rechten te beschermen.
      </p>
    </div>

    <div class="space-y-4">
      <h3 class="text-xl md:text-3xl italic leading-6">Verzoeken m.b.t. je persoonlijke gegevens</h3>
      <p>
        Je kan op elk moment contact opnemen om te achterhalen welke informatie we over jou bijhouden en een kopie hiervan opvragen. Als je wil dat we je persoonlijke gegevens verwijderen, moet je ons hiervan op de hoogte brengen. Laat het ons weten als je vaststelt dat onze informatie onnauwkeurig of verkeerd is: we corrigeren dit graag. Neem in deze gevallen bij voorkeur contact met ons op via <a href="mailto:privacy@brabopak.com" class="text-primary dark:text-accent hover:underline">privacy@brabopak.com</a>.
      </p>
    </div>

    <div class="space-y-4">
      <h3 class="text-xl md:text-3xl italic leading-6">Cookieverklaring</h3>
      <p>
        Deze website maakt gebruik van cookies. Een cookie is een kleine hoeveelheid gegevens gegenereerd door een website en opgeslagen door je webbrowser. Een cookie bewaart gegevens over jou en lijkt hierin op het voorkeurenbestand dat door softwareapplicaties wordt aangemaakt.
      </p>
      <p>
        Cookies hebben verschillende functies. Sommige cookies zijn essentieel voor de goede werking van onze website en onze dienstverlening. Sommige cookies zijn permanent, wat betekent dat ze op je apparaat blijven staan nadat je de website hebt verlaten. Sommige cookies zijn sessiecookies, wat betekent dat ze worden verwijderd zodra je je internetbrowser afsluit. Via je browserinstellingen kan je je cookievoorkeuren beheren, maar houd er wel rekening mee dat het functioneren van de website door gewijzigde cookievoorkeuren kan worden beïnvloed (de website kan niet beschikbaar zijn of minder effectief werken). Door gebruik te maken van onze website, ga je akkoord met ons gebruik van cookies.
      </p>
    </div>

    <div class="space-y-4">
      <h3 class="text-xl md:text-3xl italic leading-6">Gebruik van Google Analytics</h3>
      <p>
        Deze website maakt gebruik van Google Analytics, een webanalyse-service die wordt aangeboden door Google Inc. ('Google'). Google Analytics maakt gebruik van 'cookies' (tekstbestandjes die op je computer worden geplaatst) om de website te helpen analyseren hoe gebruikers de site gebruiken. We gebruiken deze informatie om het functioneren en de gebruikersvriendelijkheid van de website te verbeteren en om het verkeer op de website in kaart te brengen.
      </p>
      <p>
        De gegenereerde informatie over je gebruik van de website (met inbegrip van je IP-adres) wordt overgebracht naar en door Google opgeslagen op servers in de Verenigde Staten. Google gebruikt deze informatie om bij te houden hoe je de website gebruikt, rapporten over de website-activiteit op te stellen voor website-exploitanten en andere diensten aan te bieden met betrekking tot website-activiteit en internetgebruik. Google mag deze informatie aan derden verschaffen indien Google hiertoe wettelijk wordt verplicht, of voor zover deze derden de informatie namens Google verwerken.
      </p>
      <p>
        Google zal je IP-adres niet combineren met andere gegevens waarover Google beschikt. Je kan het gebruik van cookies weigeren door in je browser de daarvoor geëigende instellingen te kiezen. Wij wijzen je er echter op dat je in dat geval wellicht niet alle mogelijkheden van deze website kan benutten. Door gebruik te maken van deze website geef je toestemming voor het verwerken van de informatie door Google op de wijze en voor de doeleinden zoals hiervoor omschreven.
      </p>
    </div>

    <div class="space-y-4">
      <h3 class="text-xl md:text-3xl italic leading-6">Contact</h3>
      <p>
        Heb je vragen of opmerkingen over de manier waarop je persoonlijke gegevens worden gebruikt via een van de hierboven vermelde manieren? Neem contact op via <a href="mailto:privacy@brabopak.com" class="text-primary dark:text-accent hover:underline">privacy@brabopak.com</a>.
      </p>
      <p>
        Je kan je met een klacht ook rechtstreeks wenden tot de Gegevensbeschermingsautoriteit (de vroegere 'Privacycommissie') via <a href="https://www.gegevensbeschermingsautoriteit.be/contact" rel="norefferer noopener" class="text-primary dark:text-accent hover:underline">www.gegevensbeschermingsautoriteit.be/contact</a>
      </p>
    </div>
  </div>
</div>
