<div class="flex flex-1 justify-between sm:hidden">
  <button (click)="service.previousPage()" [disabled]="!service.hasPrevious" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 disabled:opacity-40">Vorige</button>
  <button (click)="service.nextPage()" [disabled]="!service.hasNext" class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 disabled:opacity-40">Volgende</button>
</div>
<div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
  <div>
    <p class="text-sm text-gray-700 dark:text-gray-300">
      Weergave
      <span class="font-medium">{{ results_info.min }}</span>
      tot
      <span class="font-medium">{{ results_info.max }}</span>
      van
      <span class="font-medium">{{ results_info.total }}</span>
      resultaten
    </p>
  </div>
  <div>
    <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm bg-white dark:bg-gray-900" aria-label="Pagination">
      <button (click)="service.previousPage()" [disabled]="!service.hasPrevious" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 disabled:bg-gray-200 dark:disabled:bg-gray-700 dark:text-gray-200 dark:ring-gray-700 dark:hover:bg-gray-800">
        <span class="sr-only">Vorige</span>
        <i class="fal px-1 text-2xl fa-angle-left"></i>
      </button>
      <!--
        Current: "z-10 bg-indigo-600 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600",
        Default: "text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0"
      -->
      <ng-container *ngFor="let page of pages | activePages:service.page; let i = index">
        <span *ngIf="(pages | activePages:service.page).length < pages.length && i === 3 && service.page !== 3" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-700 ring-1 ring-inset ring-gray-300 focus:outline-offset-0 dark:text-gray-200 dark:ring-gray-700 dark:hover:bg-gray-800">...</span>
        <button (click)="service.setPage(page - 1)" [ngClass]="{ 'z-10 bg-primary text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary': isCurrentPage(page), 'text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 dark:text-gray-200 dark:ring-gray-700 dark:hover:bg-gray-800': !isCurrentPage(page), 'hidden md:inline-flex': ((i === 2 || i === 3) && (pages | activePages:service.page).length === 6  && service.page !== i) || ((i === 2 || i === 4) && (pages | activePages:service.page).length === 7) }" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold">{{ page }}</button>

        <!-- {{ i }} - {{ page >= 3 }} {{ page < pages.length - 3 }} -->
        <span *ngIf="(pages | activePages:service.page).length < pages.length && i === 3 && page >= 3 && page < pages.length - 3" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-700 ring-1 ring-inset ring-gray-300 focus:outline-offset-0 dark:text-gray-200 dark:ring-gray-700 dark:hover:bg-gray-800">...</span>
      </ng-container>
      <button (click)="service.nextPage();$event" [disabled]="!service.hasNext" class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 disabled:bg-gray-200 dark:disabled:bg-gray-700 dark:text-gray-200 dark:ring-gray-700 dark:hover:bg-gray-800">
        <span class="sr-only">Volgende</span>
        <i class="fal px-1 text-2xl fa-angle-right"></i>
      </button>
    </nav>
  </div>
</div>
