<div class="flex flex-col w-full max-w-screen-xl mx-auto p-6 md:p-8">
  <div class="flex items-center justify-between w-full">
    <div class="px-4 sm:px-6 lg:px-8">
      <a class="hover:text-primary hover:underline hover:dark:text-accent" [routerLink]="['/cart/history'] | localize">
        <i class="fal fa-lg fa-angle-left"></i>
        {{ 'pages.cart.copy.header.button' | translate }}
      </a>

      <div class="text-4xl md:text-6xl font-bold tracking-tight leading-8 mb-4" translate>
        pages.cart.copy.header.title
      </div>
    </div>
  </div>

  <div class="p-4 mx-auto text-center align-center" *ngIf="isLoading">
    <bra-loader></bra-loader>
  </div>

  <div class="px-4 sm:px-6 lg:px-8 container space-y-4">
    <form [formGroup]="actionForm">
      <h4 translate>pages.cart.copy.form.title</h4>
      <div class="ml-2 flex flex-col space-y-1">
        <label>
          <input type="radio" value="replace" formControlName="action">
          <span translate>pages.cart.copy.form.replace</span>
        </label>
        <label>
          <input type="radio" value="merge" formControlName="action">
          <span translate>pages.cart.copy.form.merge</span>
        </label>
      </div>
    </form>

    <div id="cart-compare" class="flex flex-row gap-8" *ngIf="!actionForm.invalid && current && target">
      <div id="current-version" class="w-1/2">
        <h3 translate>pages.cart.copy.current</h3>
        <div class="product italic font-gray-700 text-sm" *ngIf="current.length === 0" translate>
          pages.basket.empty
        </div>
        <div class="flex items-center space-x-4" *ngFor="let product of current">
          <img class="thumbnail" alt="Thumbnail {{ product.itemNum }}" height="36" width="36" src="https://shop.claes-distribution.be/thumbnails/{{ product.itemNum }}.jpg">
          <div class="flex-auto font-bold text-md">
            {{ product.count > 0 ? product.count + 'x' : '' }}
            {{ product.itemName }}
          </div>
        </div>
      </div>
      <div id="target-version" class="w-1/2">
        <h3 translate>pages.cart.copy.new</h3>
        <p *ngIf="target.length === 0">
          <small class="emphasize">No lines.</small>
        </p>
        <div class="flex items-center space-x-4" *ngFor="let product of target">
          <img class="thumbnail" alt="Thumbnail {{ product.itemNum }}" height="36" width="36" src="https://shop.claes-distribution.be/thumbnails/{{ product.itemNum }}.jpg">
          <div class="flex-auto font-bold text-md" [ngClass]="{ 'line-through': product.change < 0 }">
            {{ product.count > 0 ? product.count + 'x' : '' }}
            {{ product.itemName }}
          </div>
          <div>
            <span *ngIf="product.change < 0" class="text-red-500">- {{ product.change * -1 }}</span>
            <span *ngIf="product.change > 0" class="text-green-500">+ {{ product.change }}</span>
          </div>
        </div>
      </div>
    </div>

    <button class="block text-white rounded px-5 h-10 border border-primary bg-info hover:bg-primary" [disabled]="actionForm.invalid || !current || !target" translate (click)="apply()">pages.cart.copy.form.apply</button>
  </div>
</div>
