<div class="flex flex-col w-full max-w-screen-xl mx-auto gap-8 p-6 md:p-8">
  <div class="flex flex-row items-center space-x-2 text-gray-500  overflow-hidden">
    <ng-container *ngFor="let breadcrumb of breadcrumbs; let isLast = last">
      <div class="truncate whitespace-nowrap" [title]="breadcrumb">{{ breadcrumb }}</div>
      <i class="fal fa-lg fa-fw fa-angle-right" *ngIf="!isLast"></i>
    </ng-container>
  </div>

  <div class="flex flex-row w-full font-serif">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 justify-between gap-4 gap-y-8 w-full">
      <bra-product-item [item]="item" class="flex flex-col w-full mx-auto max-w-[15rem] cursor-pointer"
        [routerLink]="['/product', item.id, itemName(item)] | localize" *ngFor="let item of items"></bra-product-item>
    </div>
  </div>

  <div class="content-extra" *ngIf="pages && pages.length > 1">
    <!-- [hidden]="!loading || (!items && items.length <= 47) || !filterService.enabled" -->
    <i class="fal fa-angle-double-left page-selector icon-color" [attr.disabled]="!has_first"></i>
    <!-- (click)="filterService.firstPage()" -->
    <i class="fal fa-angle-left page-selector icon-color" [attr.disabled]="!has_previous"></i>
    <!-- (click)="filterService.previousPage()" -->
    <span class="page-selector" (click)="changePage( pageNum )" *ngFor="let pageNum of pages">
      {{ pageNum }}
    </span>
    <!-- [ngClass]="{ selected: (filterService.Page+1 === pageNum || (!filterService.Page && pageNum === 1))}" -->
    <i class="fal fa-angle-right page-selector icon-color" [attr.disabled]="!has_next"></i>
    <!-- (click)="filterService.nextPage()" -->
    <i class="fal fa-angle-double-right page-selector icon-color" [attr.disabled]="!has_last"></i>
    <!-- (click)="filterService.lastPage()" -->
  </div>

  <!-- <div>
    <a [routerLink]="['./']" [queryParams]="{ page: 0, id: category_id }">1</a>
    <a [routerLink]="['./']" [queryParams]="{ page: 1, id: category_id }">2</a>
    <a [routerLink]="['./']" [queryParams]="{ page: 2, id: category_id }">3</a>
    <a [routerLink]="['./']" [queryParams]="{ page: 3, id: category_id }">4</a>
    <a [routerLink]="['./']" [queryParams]="{ page: 4, id: category_id }">5</a>
  </div> -->
</div>
