<div class="flex flex-col w-full max-w-screen-xl mx-auto gap-8 p-6 md:p-8">
  <bra-breadcrumbs class="px-8 -mt-6 lg:-mt-8" [breadcrumbs]="breadcrumbs" *ngIf="!loading"></bra-breadcrumbs>

  <div class="p-4 mx-auto text-center align-center" *ngIf="loading">
    <bra-loader></bra-loader>
  </div>

  <div class="flex flex-row w-full font-serif" *ngIf="!loading">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 justify-between gap-4 gap-y-8 w-full">
      <bra-product-item [item]="item" class="flex flex-col w-full mx-auto max-w-[15rem] cursor-pointer"
        [routerLink]="['/product', item.id, itemName(item)] | localize" *ngFor="let item of items"></bra-product-item>
    </div>
  </div>

  <bra-pagination class="-mb-6 lg:-mb-8" [count]="count" *ngIf="!loading"></bra-pagination>
</div>
