<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
  <div class="w-full sm:w-auto py-8 px-4 sm:p-12">
    <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
      <div class="text-4xl font-extrabold tracking-tight leading-tight" translate="pages.signin.form.title"></div>
      <div class="flex items-baseline mt-0.5 font-medium">
        <div>Heb je nog geen account?</div>
        <a class="ml-1 text-primary dark:text-accent hover:underline"
          [routerLink]="['/auth/sign-on'] | localize">Aanmelden</a>
      </div>
      <form class="mt-8" [formGroup]="signinForm" *ngIf="signinForm" (submit)="signin()" #myform="ngForm">
        <div class="form-control w-full">
          <label class="block font-medium mb-1" for="username" translate="pages.signin.form.username"></label>
          <input class="peer flex items-center h-12 border shadow-sm bg-transparent rounded-md px-4 w-full
          invalid:border-danger" formControlName="username" required id="username" autocomplete="email" type="email">
          <div class="text-sm font-medium text-danger mt-1"
            *ngIf="signinForm.get('username')?.hasError('required') && myform.submitted"
            translate="pages.signin.form.errors.username-required"></div>
          <div class="text-sm font-medium text-danger mt-1"
            *ngIf="signinForm.get('username')?.hasError('email') && myform.submitted"
            translate="pages.signin.form.errors.username-email"></div>
        </div>

        <div class="form-control w-full mt-2">
          <label class="block font-medium mb-1" for="password" translate="pages.signin.form.password"></label>
          <input
            class="peer flex items-center h-12 border shadow-sm bg-transparent rounded-md px-4 w-full invalid:border-danger"
            formControlName="password" id="password" required minlength="8" autocomplete="current-password"
            type="password">
          <div class="text-sm font-medium text-danger mt-1"
            *ngIf="signinForm.get('password')?.hasError('required') && myform.submitted"
            translate="pages.signin.form.errors.password-required"></div>
          <div class="text-sm font-medium text-danger mt-1"
            *ngIf="signinForm.get('password')?.hasError('minlength') && myform.submitted"
            translate="pages.signin.form.errors.password-minLength"></div>
        </div>

        <div class="inline-flex items-center justify-between w-full mt-1.5">
          <div class="form-field">
            <input formControlName="remember" type="checkbox" name="remember" id="remember">
            <label for="remember" translate="pages.signin.form.remember"></label>
          </div>
        </div>

        <button [disabled]="isLoading" class="border text-lg text-primary rounded-md shadow-sm cursor-pointer w-full mt-4 px-6 py-3 ease-in
          duration-200 hover:text-white hover:bg-primary disabled:bg-gray-200" id="signin" type="submit"
          translate="pages.signin.form.button"></button>

        <div class="flex flex-col space-y-1 mt-4">
          <a class="text-md font-medium text-primary dark:text-accent hover:underline"
            [routerLink]="['/auth/forgot-password'] | localize" [queryParams]="{ username: currentUsername }"
            translate="pages.signin.form.action1"></a>
          <a class="text-md font-medium text-primary dark:text-accent hover:underline" [routerLink]="['/auth/new-up']"
            translate="pages.signin.form.action2"></a>
        </div>

        <div class="mt-6 text-sm text-gray-500">
          This site is protected by reCAPTCHA and the Google
          <a class="text-primary hover:underline" href="https://policies.google.com/privacy">Privacy Policy</a> and
          <a class="text-primary hover:underline" href="https://policies.google.com/terms">Terms of Service</a> apply.
        </div>
      </form>
    </div>
  </div>
</div>
