<div class="flex flex-col w-full max-w-screen-xl mx-auto gap-12 p-4 sm:p-6 lg:p-8">
  <div class="md:w-2/3 mx-auto space-y-12">
    <div class="space-y-4">
      <h1 class="text-4xl md:text-6xl italic font-bold tracking-tight leading-8">
        Algemene verkoopsvoorwaarden
      </h1>
    </div>

    <ul class="space-y-4 list-decimal">
      <li>
        Onze offertes zijn gebaseerd op huidige waarden van lonen en materialen. Bij wijzigingen, kunnen de prijzen op evenredige wijze aangepast worden.
      </li>
      <li>
        Leveringstermijnen worden enkel als inlichting verstrekt. Voor bedrukte materialen kan de leveringstermijn oplopen tot 6 maanden na ondertekening van de bestelbon. Vertraging vormt geen grond voor schadevergoeding of ontbinding.
      </li>
      <li>
        De door onze vertegenwoordigers aanvaarde bestellingen zijn slechts verbindend na onze schriftelijke orderbevestiging.
      </li>
      <li>
        Onder voorbehoud van nadere begroting van de schade, is de klant bij annulatie of weigering van een levering voor (standaard)goederen, een forfaitaire schadevergoeding verschuldigd van 25% van de totale (geraamde) waarde. Bij annulatie of weigering van een levering van speciaal bestelde of bedrukte goederen, is de schadevergoeding echter gelijk aan de volledige waarde van de bestelling, indien de vervaardiging of bedrukking reeds is aangevat.
      </li>
      <li>
        Het risico voor goederen gaat over op de klant bij de contractsluiting. Elke bewaring in afwachting van levering of afhaling, geschiedt op risico van de klant. Elke verzending of vervoer, geschiedt op risico en op kosten van de klant.
      </li>
      <li>
        Indien de klant de goederen niet ophaalt na uitnodiging daartoe, kan Brabopak na het verstrijken van een termijn van 15 dagen en zonder voorafgaande ingebrekestelling, bewaringskosten aanrekenen of de goederen verwijderen op risico van de klant, en alleszins de overeenkomst beschouwen als geannuleerd door de klant.
      </li>
      <li>
        Zolang geleverde goederen niet werden betaald, blijven zij eigendom van Brabopak. Zij mogen in geen geval verder verkocht worden, vooraleer haar vordering is voldaan. Bij wederverkoop door de klant vooraleer zijn verplichtingen aan Brabopak volledig voldaan zijn, verleent de klant door het enkele feit van de wederverkoop een overdracht van zijn vordering op zijn afnemer, ten bedrage van het nog aan Brabopak verschuldigde gedeelte. De klant verbindt zich ertoe zijn afnemer daarvan op de hoogte te brengen.
      </li>
      <li>
        Alle eventuele klachten moeten toekomen binnen de 8 dagen na de desbetreffende levering en alleszins vóór gebruik of voortverkoop van de goederen. De indiening van een klacht ontslaat de klant niet van zijn betalingsverplichtingen. Terugzending van geleverde goederen kan slechts plaatsvinden na voorafgaande schriftelijke instemming van Brabopak.
      </li>
      <li>
        Gelet op de aard van de goederen, zijn steeds afwijkingen in dikte, kleur en dergelijke ten opzichte van eventuele stalen mogelijk. Afwijkingen tot 15% in de overeengekomen dikte, kleurintensiteit, kwaliteit en kwantiteit ten opzichte van de bij bestelling opgegeven specificaties, moeten als normaal aanvaard worden en kunnen geen aanleiding geven tot klachten, prijsvermindering of ontbinding van de overeenkomst.
      </li>
      <li>
        De vrijwaringsplicht van Brabopak met betrekking tot gebreken in de geleverde goederen strekt zich niet verder uit dan deze van haar leveranciers. Bij contractuele of buitencontractuele fout, is Brabopak in geen geval aansprakelijk voor gevolgschade en is haar aansprakelijkheid voor rechtstreekse schade beperkt tot de corresponderende kostprijs voor de opdracht waarin de fout werd begaan.
      </li>
      <li>
        Alle speciaal voor een opdracht gemaakte modellen, tekeningen, ontwerpen en clichés worden aan de klant in rekening gebracht, ook als deze niet het voorwerp uitmaken van een verkoop tussen partijen.
      </li>
      <li>
        Indien de klant plannen, ontwerpen, modellen, materialen, instrumenten of dergelijke ter beschikking stelt, kan Brabopak daarop een retentierecht uitoefenen tot aan de algehele betaling van haar facturen. Voor eventueel verlies of beschadiging, is Brabopak slechts aansprakelijk als een onbezoldigde bewaarnemer.
      </li>
      <li>
        Indien de klant verzoekt te werken volgens een bepaalde tekening of model, of met toepassing van een bepaald procedé, dan is de klant uitsluitend verantwoordelijk voor aanspraken van derden uit hoofde van patenten, modelbeschermingen of alle andere intellectuele eigendomsrechten. Hij zal zo nodig vrijwillig in een eventueel geding tussenkomen om Brabopak volstrekte vrijwaring te verlenen.
      </li>
      <li>
        Indien geen normale productie te verwezenlijken is met door de klant geleverde clichés, kan Brabopak de opdracht weigeren of andere clichés laten maken, die worden doorgerekend aan de op dat moment geldende tarieven.
      </li>
      <li>
        De klant gaat er uitdrukkelijk mee akkoord dat hij op eenvoudig verzoek zal overgaan tot betaling van een voorschot.
      </li>
      <li>
        Tenzij uitdrukkelijk anders bedongen, zijn alle facturen betaalbaar binnen de 30 dagen na de factuurdatum.
      </li>
      <li>
        Elk protest tegen een factuur moet schriftelijk gebeuren binnen de 8 dagen na de factuurdatum, met vermelding van de datum en het nummer van de factuur, alsook van de precieze reden van protest.
      </li>
      <li>
        Bij niet- of onvolledige betaling van de factuur, zijn vanaf de vervaldag van rechtswege en zonder voorafgaande ingebrekestelling, verwijlinteresten verschuldigd op het onbetaalde gedeelte ten belope van 1% per begonnen maand, tot aan de algehele betaling.
      </li>
      <li>
        Bij niet-tijdige betaling of gehele of gedeeltelijke wanprestatie door de klant is van rechtswege en zonder voorafgaande ingebrekestelling, bij wege van schadebeding, een forfaitaire vergoeding verschuldigd ten belope van 10% van het verschuldigde bedrag, met een minimum van 75 €. De onkosten verbonden aan onbetaalde wissels of cheques evenals andere inningsonkosten worden afzonderlijk aangerekend.
      </li>
      <li>
        Bij elke niet-tijdige betaling of gehele of gedeeltelijke wanprestatie van de klant heeft Brabopak het recht om alle verdere leveringen onmiddellijk stop te zetten. Tevens heeft zij het recht om de overeenkomst van rechtswege en zonder voorafgaande ingebrekestelling te beschouwen als geannuleerd door de klant voor het geheel of voor het nog niet uitgevoerde gedeelte. De klant heeft in zo'n geval geen enkel verhaal, noch enig recht op schadevergoeding voor niet-uitgevoerde leveringen.
      </li>
      <li>
        Wanneer Brabopak ten gevolge van overmacht, staking, lock-out en dergelijke niet in de mogelijkheid verkeert de overeenkomst uit te voeren, kan zij de overeenkomst beëindigen zonder dat enige schadevergoeding kan worden geëist (overmacht waaronder o.m. moet worden verstaan staking bij toeleveringsbedrijven of van eigen personeel, buitenwerkingstelling van de eigen zaak, oproer, opstand, pandemie en epidemie).
      </li>
      <li>
        Brabopak behoudt zich het recht voor om de overeenkomst van rechtswege en zonder voorafgaande ingebrekestelling als ontbonden te beschouwen in geval van faillissement of kennelijk onvermogen van de klant, alsook bij om het even welke wijziging aan zijn juridische toestand.
      </li>
      <li>
        Op alle overeenkomsten die Brabopak aangaat, is het Belgische recht van toepassing. Bij betwisting zijn uitsluitend de rechtbanken van Antwerpen bevoegd.
      </li>
    </ul>
  </div>
</div>
