<div class="min-w-0 page">
  <div class="absolute z-49 inset-0 h-full w-full flex items-center justify-center" *ngIf="!loaded">
    <bra-loader></bra-loader>
  </div>
  <pdf-viewer [src]="pdfSettings.url" [show-all]="pdfSettings.showAll" [fit-to-page]="true" [show-borders]="false" [external-link-target]="'blank'" [zoom-scale]="'page-fit'" [stick-to-page]="true" (after-load-complete)="callBackFn($event)" [zoom]="zoom" [original-size]="false" [page]="currentPage">
  </pdf-viewer>
</div>

<div class="flex text-center mx-auto space-x-1 nav pt-2" *ngIf="loaded && desktop">
  <button [disabled]="!zoomOutEnabled" class="fa-button" id="zoomOut" (click)="setZoom(zoom-.5)" title="zoom out"></button><button class="fa-button" id="previous" [disabled]="!previousEnabled" (click)="previousPage()" title="previous page"></button>
  <div class="px-2 py-1.5 rounded border">
    {{ currentPage }} / {{ pageCount }}
  </div>
  <button class="fa-button" id="next" [disabled]="!nextEnabled" (click)="nextPage()" title="next page"></button>
  <button [disabled]="!zoomInEnabled" class="fa-button" id="zoomIn" (click)="setZoom(zoom+.5)" title="zoom in"></button>
</div>
