<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
  <div class="w-full sm:w-auto py-8 px-4 sm:p-12">
    <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
      <div class="text-4xl font-extrabold tracking-tight leading-tight" translate="pages.reset-password.form.title">
      </div>
      <div class="flex items-baseline mt-0.5 font-medium">
        <div>Heb je al een account?</div>
        <a class="ml-1 text-primary dark:text-accent hover:underline" [routerLink]="['/auth/sign-in'] | localize" [queryParams]="{ login_hint: currentUsername }">Inloggen</a>
      </div>
      <form class="mt-8" [formGroup]="resetPasswordForm" *ngIf="resetPasswordForm" (submit)="submit()" #myform="ngForm">
        <div class="form-control w-full">
          <label class="block font-medium mb-1" for="password" translate="pages.reset-password.form.password"></label>
          <input class="peer flex items-center h-12 border shadow-sm bg-white dark:bg-gray-900 rounded-md px-4 w-full
          invalid:border-danger" formControlName="password" required id="password" autocomplete="new-password" type="password">
          <div class="text-sm font-medium text-danger mt-1" *ngIf="resetPasswordForm.get('password')?.hasError('required') && myform.submitted" translate="pages.reset-password.form.errors.password-required"></div>
          <div class="text-sm font-medium text-danger mt-1" *ngIf="resetPasswordForm.get('password')?.hasError('minLength') && myform.submitted" translate="pages.reset-password.form.errors.password-minLength"></div>
        </div>

        <button [disabled]="isLoading" class="border text-lg text-primary rounded-md shadow-sm cursor-pointer w-full mt-4 px-6 py-3 ease-in
          duration-200 bg-white dark:bg-gray-900 dark:text-accent hover:text-white hover:bg-primary disabled:bg-gray-200 dark:hover:bg-accent dark:hover:text-black" id="signin" type="submit" translate="pages.reset-password.form.button"></button>

        <div class="flex flex-col space-y-1 mt-4">
          <!-- <a class="text-md font-medium text-primary dark:text-accent hover:underline"
            [routerLink]="['/auth/sign-in'] | localize" [queryParams]="{ username: currentUsername }"
            translate="pages.reset-password.form.action1"></a> -->
          <a class="text-md font-medium text-primary dark:text-accent hover:underline" [routerLink]="['/auth/sign-up'] | localize" translate="pages.reset-password.form.action2"></a>
        </div>

        <div class="mt-6 text-sm text-gray-500">
          This site is protected by reCAPTCHA and the Google
          <a class="text-primary dark:text-accent hover:underline" href="https://policies.google.com/privacy">Privacy Policy</a> and
          <a class="text-primary dark:text-accent hover:underline" href="https://policies.google.com/terms">Terms of Service</a> apply.
        </div>
      </form>
    </div>
  </div>
</div>
