<div class="flex flex-col w-full max-w-screen-xl mx-auto space-y-4 p-6 md:p-8">
  <div class="flex items-center justify-between w-full">
    <div class="">
      <div class="text-4xl md:text-6xl font-bold tracking-tight leading-8 mb-4">
        {{ 'pages.home.header.title' | translate:{name} }}
      </div>
      <div class="font-medium tracking-tight text-secondary-500" *ngIf="abandonedCart">
        Je hebt tijdens je vorige bezoek {{ abandonedCart.count }} artikel(s) in je winkelwagen achtergelaten, <a [routerLink]="['/cart'] | localize" class="underline">klik hier</a> om je bestelling te
        voltooien.
      </div>
    </div>
  </div>

  <div class="mx-auto text-center align-center" *ngIf="loading">
    <bra-loader></bra-loader>
  </div>

  <ng-container *ngFor="let block of dashboard | filterEmpty; let is_last = last">
    <bra-products-block [ngClass]="{ 'border-b': !is_last }" [header]="block.title" [link]="block.link" [items]="block.products">
    </bra-products-block>
  </ng-container>
</div>
