<div class="claes-vertical-navigation-item-wrapper">
  <div class="claes-vertical-navigation-item hover:bg-gray-200 hover:dark:bg-gray-700" [routerLink]="link"
    routerLinkActive="claes-vertical-navigation-item-active bg-gray-200 dark:bg-gray-700"
    [routerLinkActiveOptions]="{exact: link[0] == '/'}">
    <i class="claes-vertical-navigation-item-icon text-2xl w-6 h-6 fal fa-fw" [ngClass]="icon"></i>
    <div class="claes-vertical-navigation-item-title-wrapper" *ngIf="title">
      <div class="fuse-vertical-navigation-item-title">
        <span [translate]="title"></span>
      </div>
    </div>
  </div>
</div>
