<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" (click)="close.emit()"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <div
        class="relative transform overflow-hidden rounded-lg backdrop-blur text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
        <div class="bg-[#ffffffcc] dark:bg-[#1118278f] px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="w-full text-center sm:text-left">
              <h3 class="text-base font-semibold leading-6" id="modal-title">{{ title }}</h3>

              <div class="p-4 mx-auto text-center align-center" *ngIf="int">
                <bra-loader></bra-loader>
              </div>
              <div>
                <label for="customer" class="block text-sm font-semibold mb-1">
                  Zoeken
                </label>
                <input id="customer" class="flex items-center h-10 border shadow-sm bg-white rounded-md px-4 w-full
                  invalid:border-danger dark:bg-transparent" [(ngModel)]="query">
              </div>
              <div class="mt-2 overflow-scroll h:48 md:h-64" *ngIf="!int">
                <div
                  class="flex px-2 py-1 border-b rounded cursor-pointer last:border-b-0 hover:text-primary hover:underline dark:hover:text-accent"
                  [ngClass]="{ 'font-bold': customer === auth.currentCustomer }" *ngFor="let customer of customers"
                  (click)="select(customer)">
                  <div class="flex-auto">
                    {{ customer.name }}{{ customer.address_id > 0 ? ' - ' + customer.address_name : '' }}
                  </div>
                  <div>
                    {{ customer.address_id > 0 ? customer.address_city : customer.city }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="bg-[#f9fafbcc] px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6 space-y-3 sm:space-y-0 dark:bg-[#374151cc]">
          <button type="button" (click)="close.emit()"
            class="inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
            translate>actions.close</button>
        </div>
      </div>
    </div>
  </div>
</div>
