<div class="flex h-full space-x-8">
  <div class="relative flex space-x-6 items-center text-secondary-500">
    <button [routerLink]="['/products'] | localize" [routerLinkActiveOptions]="{exact: true}" class="relative border-b-2 border-transparent -mb-px flex items-center pt-px text-sm font-medium
      transition-colors duration-200 ease-out hover:text-secondary-700 dark:hover:text-secondary-300" [routerLinkActive]="['border-b-primary', 'text-primary', 'dark:border-accent',
      'dark:text-accent']">Producten</button>
    <span class="h-6 w-0 border-l" aria-hidden="true"></span>
    <button type="button" class="relative -mb-px flex items-center border-b-2 pt-px text-sm font-medium transition-colors duration-200 ease-out" [ngClass]="{ 'border-primary text-primary dark:border-accent dark:text-accent': active, 'border-transparent hover:text-secondary-700 dark:hover:text-secondary-300': !active }" aria-expanded="false" (click)="activate()">Categorieën</button>
    <ng-template [ngIf]="!auth.isAuthenticated()">
      <!-- <span class="h-6 w-0 border-l" aria-hidden="true"></span> -->
      <!-- <button [routerLink]="['/products'] | localize" [queryParams]="{ only_new: true }" class="relative border-b-2 border-transparent z-10 -mb-px flex items-center pt-px text-sm font-medium
      transition-colors duration-200 ease-out hover:text-secondary-700 dark:hover:text-secondary-300"
        [routerLinkActive]="['border-b-primary', 'text-primary', 'dark:border-accent', 'dark:text-accent']">Nieuwe
        producten</button> -->
    </ng-template>
    <ng-template [ngIf]="auth.isAuthenticated()">
      <span class="h-6 w-0 border-l" aria-hidden="true" *ngIf="canViewPromo"></span>
      <button [routerLink]="['/products'] | localize" [queryParams]="{ only_promo: true }" *ngIf="canViewPromo" class="relative border-b-2 border-transparent -mb-px flex items-center pt-px text-sm font-medium transition-colors duration-200 ease-out hover:text-secondary-700 dark:hover:text-secondary-300" [routerLinkActive]="['border-b-primary', 'text-primary', 'dark:border-accent',
      'dark:text-accent']">Promoties</button>
      <span class="h-6 w-0 border-l" aria-hidden="true"></span>
      <button [routerLink]="['/products'] | localize" [queryParams]="{ only_favorites: true }" class="relative border-b-2 border-transparent -mb-px flex items-center pt-px text-sm font-medium transition-colors duration-200 ease-out hover:text-secondary-700 dark:hover:text-secondary-300" [routerLinkActive]="['border-b-primary', 'text-primary', 'dark:border-accent', 'dark:text-accent']">Favorieten</button>
      <span class="h-6 w-0 border-l" aria-hidden="true" *ngIf="canViewPromo"></span>
      <button [routerLink]="['/leaflet'] | localize" *ngIf="canViewPromo" class="relative border-b-2 border-transparent -mb-px flex items-center pt-px text-sm font-medium transition-colors duration-200 ease-out hover:text-secondary-700 dark:hover:text-secondary-300" [routerLinkActive]="['border-b-primary', 'text-primary', 'dark:border-accent',
      'dark:text-accent']">Folder</button>
    </ng-template>
  </div>
</div>

<div class="fixed z-10 inset-0 bg-gray-500 bg-opacity-75 backdrop-blur transition-opacity" *ngIf="active" (click)="activate()"></div>

<div class="absolute inset-x-0 top-full text-sm text-gray-500 z-49" *ngIf="active">
  <div class="absolute inset-0 top-1/2" aria-hidden="true"></div>

  <div class="relative rounded-b-2xl shadow bg-white dark:bg-gray-950">
    <div class="mx-auto max-w-7xl px-8">
      <div class="flex flex-row">
        <div class="w-1/4 content-start grid grid-cols-1 py-16 gap-y-4">
          <div class=" text-sm" *ngFor="let category of categories">
            <p class="text-md font-bold text-gray-900 dark:text-gray-100">
              <span class="hover:underline" (mouseover)="activateCategory(category)" (click)="activateCategory(category)" [ngClass]="{ 'text-primary underline dark:text-accent': isCategoryActive(category) }">{{ capitalize(category.name) }}</span>
            </p>
          </div>
        </div>
        <div class="w-3/4 grid grid-cols-1 gap-y-10 gap-x-8 py-16">
          <div class="row-start-1 grid grid-cols-4 xl:grid-cols-5 gap-y-6 gap-x-4 text-sm">
            <div *ngFor="let sub of activeCategory?.children">
              <p class="text-md font-bold text-gray-800 dark:text-gray-200">
                <a [routerLink]="['/products', itemName(activeCategory), itemName(sub)] | localize" class="hover:underline" [queryParams]="{id: sub.id}" (click)="close()">{{ capitalize(sub.name) }}</a>
              </p>
              <ul role="list" class="mt-6 space-y-4 sm:mt-4 sm:space-y-2">
                <li class="flex" *ngFor="let subCategory of sub.children">
                  <a [routerLink]="['/products', itemName(activeCategory), itemName(sub), itemName(subCategory)] | localize" class="hover:text-gray-800 dark:hover:text-gray-100 hover:underline" [queryParams]="{id:
                    subCategory.id}" (click)="close()">{{ capitalize(subCategory.name) }}</a>
                </li>
              </ul>
            </div>
          </div>
          <a class="hover:text-primary hover:underline dark:hover:text-accent" *ngIf="activeCategory" [routerLink]="['/products', itemName(activeCategory)] | localize" [queryParams]="{id: activeCategory.id}" (click)="close()">
            Bekijk alles
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
