<button type="menu" tabindex="-1" class="relative inline-flex border-0 items-center justify-center text-gray-500 w-10 h-10 rounded disabled:text-gray-300
  dark:disabled:text-gray-700 disabled:bg-transparent hover:text-primary dark:hover:text-accent hover:bg-transparent"
  [disabled]="!service.initialized" (click)="toggle()">
  <i title="messages" class="text-2xl fal fa-shopping-cart"></i>

  <span class="absolute block top-[3px] right-[3px] w-4 h-4 rounded-full text-sm leading-4 bg-danger text-white">
    {{ contents }}
  </span>
</button>

<div class="top-13 mt-3 absolute w-64 md:w-96 lg:w-128 z-40 flex flex-col right-0 p-4 backdrop-blur border drop-shadow-lg bg-[#ffffffcc]
  dark:bg-[#1118278f] rounded-b-xl" *ngIf="expanded">
  <div class="empty" *ngIf="!service.products || service.products.length === 0">
    <small class="text-gray-400 italic" translate>pages.cart.empty</small>
  </div>
  <div class="overflow-scroll" id="menu-basket-products" *ngIf="service.products.length > 0">
    <div class="flex px-1 pb-2 border-b last:border-none mb-2" [id]="'menu-basket-product-' + product.quantity"
      *ngFor="let product of service.products">
      <div class="flex-auto">
        <a [routerLink]="['/product', product.id, itemName(product)] | localize"
          class="text-md hover:underline hover:text-primary">
          {{ product.name }}
        </a>
        <br>
        <small class="product-unit text-gray-400 italic">
          {{ product.quantity }}x
          {{ product.unit }}
        </small>
      </div>
      <div class="flex-[0_100px] text-right font-bold ml-3 leading-6" *ngIf="product.prices">
        {{ product.prices && product.prices[0].base > 0 ?
          ( calcPrice(product, product.quantity)?.totalProduct |
          currency:'EUR':'symbol-narrow':'0.2-2':'nl-BE' ) :
          'pages.cart.priceOnDemand' | translate
        }}
      </div>
    </div>
  </div>
  <div class="border-t pt-3 mb-4" *ngIf="auth.canViewPrices && service.products && service.products.length > 0">
    <!-- <div class="flex" id="menu-basket-shipping-cost">
      <small translate>pages.cart.shippingCosts</small>
      <span class="flex-auto text-right font-bold inline-block"
        [ngClass]="{ success: calcTotalPrice.totalDelivery === 0 }">
        {{ calcTotalPrice.totalDelivery > 0 ? (calcTotalPrice.totalDelivery | currency:'EUR':'symbol-narrow':'0.2-2':'nl-BE') : ('pages.cart.steps.3.freeShipping' | translate) }}
      </span>
    </div> -->
    <div class="flex" id="menu-basket-tax-cost" *ngIf="calcTotalPrice.totalTax > 0">
      <small translate>
        pages.cart.taxCosts
      </small>
      <span class="flex-auto text-right font-bold inline-block">
        {{ calcTotalPrice.totalTax | currency:'EUR':'symbol-narrow':'0.2-2':'nl-BE' }}
      </span>
    </div>
    <div class="flex" id="menu-basket-total-cost">
      <small translate>
        pages.cart.totalCosts
      </small>
      <span class="flex-auto text-right font-bold inline-block">
        {{ calcTotalPrice.total | currency:'EUR':'symbol-narrow':'0.2-2':'nl-BE' }}
      </span>
    </div>
  </div>
  <div class="flex" *ngIf="service.products.length > 0">
    <button class="block text-white rounded px-5 h-10 border border-primary bg-info hover:bg-primary"
      id="btn-menu-basket-step-1" [routerLink]="['/cart'] | localize" (click)="toggle()"
      [disabled]="!service.products || service.products.length < 1" translate>
      pages.cart.view
    </button>
  </div>
</div>
