<div class="flex flex-row justify-between items-center mb-6">
  <div class="text-xl md:text-3xl font-semibold tracking-tight leading-8">
    {{ header | translate }}
  </div>
  <div class="hover:text-primary hover:underline hover:dark:text-accent cursor-pointer" [routerLink]="url" [queryParams]="params" *ngIf="url">
    Bekijk alles <i class="fal fa-fw fa-arrow-right"></i>
  </div>
</div>
<div class="flex flex-row w-full font-serif">
  <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4 w-full">
    <bra-product-item [item]="item" class="flex flex-col mx-auto max-w-[15rem]" [routerLink]="['/product', item.id, itemName(item)] | localize" *ngFor="let item of items">
    </bra-product-item>
  </div>
</div>
