<button type="menu" tabindex="1" (click)="toggle()"
  class="inline-flex border-0 items-center justify-center text-gray-500 w-10 h-10 rounded disabled:text-gray-700 hover:text-primary dark:hover:text-accent">
  <div class="relative">
    <img class="w-7 h-7 rounded-full" loading="lazy" [src]="avatar" *ngIf="showAvatar">
    <i title="account" class="text-2xl fal fa-user-circle" *ngIf="!showAvatar"></i>
    <span class="absolute right-0 bottom-0 w-2 h-2 rounded-full mr-px mb-px"
      [ngClass]="{ 'bg-red-500': !authenticated, 'bg-green-500': authenticated }"></span>
  </div>
</button>

<div class="top-13 mt-3 absolute w-64 lg:w-80 z-40 right-0 backdrop-blur border drop-shadow-lg bg-[#ffffffcc]
  dark:bg-[#1118278f] rounded-b-xl" *ngIf="expanded">
  <div class="flex flex-col space-y-4 mt-4 px-4 mb-2" *ngIf="authenticated">
    <div class="rounded text-sm dark:text-white">
      Ingelogd als {{ email }}
    </div>

    <div *ngIf="multiUser" (click)="toggleSelectCustomer();$event.preventDefault();$event.stopPropagation()">
      <label for="customer" class="block text-sm font-semibold text-gray-900 dark:text-white">
        Geselecteerde klant
      </label>
      <input id="customer" class="appearance-none block w-full bg-gray-50 border border-gray-300 text-sm rounded-lg
            focus:ring-blue-500 focus:border-blue-500 p-2 dark:bg-gray-700 dark:border-gray-600
            dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        onclick="$event.preventDefault();$event.stopPropagation()" disabled
        [value]="customerName(auth.currentCustomer)">
    </div>
  </div>

  <!-- <button class="rounded dark:text-white hover:bg-gray-100" mat-menu-item> -->
  <ng-template [ngIf]="!authenticated">
    <a role="menuitem" [routerLink]="[ '/auth/sign-in' ] | localize"
      class="block pr-7 pl-4 h-10 leading-10 text-sm font-semibold hover:bg-gray-200 dark:hover:bg-gray-600 rounded-b-xl">
      <i class="fal fa-sign-in-alt fa-fw fa-lg"></i> {{ 'actions.sign-in' | translate }}
    </a>
  </ng-template>
  <ng-template [ngIf]="authenticated">
    <a role="menuitem" [routerLink]="['/account/order-history'] | localize"
      class="block pr-7 pl-4 h-10 leading-10 text-sm font-semibold hover:bg-gray-200 dark:hover:bg-gray-600">
      <i class="fal fa-bags-shopping fa-fw fa-lg"></i> {{ 'pages.order-history.title' | translate }}
    </a>
    <a role="menuitem" [routerLink]="['/account/profile'] | localize"
      class="block pr-7 pl-4 h-10 leading-10 text-sm font-semibold hover:bg-gray-200 dark:hover:bg-gray-600">
      <i class="fal fa-user fa-fw fa-lg"></i> {{ 'pages.profile.title' | translate }}
    </a>
    <a role="menuitem" (click)="logout()"
      class="block pr-7 pl-4 h-10 leading-10 text-sm font-semibold hover:bg-gray-200 dark:hover:bg-gray-600 cursor-pointer rounded-b-xl">
      <i class="fal fa-sign-out-alt fa-fw fa-lg"></i> {{ 'actions.sign-out' | translate }}
    </a>
  </ng-template>
</div>

<bra-customer-modal *ngIf="showCustomerModal" (close)="selectCustomer = false">
</bra-customer-modal>
